{{ $currentNode := . }}

<!-- here is where to define which menu to use -->
<!-- variables defined inside a if conditional are not global -->

{{ $.Scratch.Add "menumain" .Site.Menus.main.ByWeight }}

{{ range ($.Scratch.Get "menumain") }}

{{ $.Scratch.Set "currentMenuEntry" . }}
<li>
  {{ if .HasChildren }}
    <span class="section">{{ .Name | title }}</span>
    <ul>
      {{ range .Children }}
        {{ $.Scratch.Set "currentMenuEntry" . }}
        {{ partial "nav_link" $currentNode }}
      {{ end }}
    </ul>
  {{ else }}
    {{ partial "nav_link" $currentNode }}
  {{ end }}
</li>
{{ end }}
